/* General */


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}

p {
	margin:0;
	padding:0;
}

body, a {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size:16px;
	letter-spacing:0.05px;
	line-height:24px;
	color:#787878;
	padding:0px;
	margin:0px;
}

.container {
	max-width:1170px;
	margin:0 auto;
	padding:0 20px;
}


.btn {
	background-color:#10c9c3;
	color:#fff;
	display: inline-block;
	padding:20px 40px;
	text-transform: uppercase;
	font-size:12px
	letter-spacing:1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.btn:hover {
	background-color:#30a9a4;
	transition:all 0.3s;
}



.menu__current {
	color:#10c9c3 !important;
}

/* Header */

header {
	padding:38px 0 35px;
}
.header__inner {
	display: flex;
	justify-content: space-between;
}

header .menu li {
	display: inline;
}

header .menu a{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight:700;
	font-size:12px;
	letter-spacing: 1px;
	color:#191919;
}

header .menu a:hover {
	color:#10c9c3;
}

.menu li + li {
	padding-left:30px;
}


/* Gallery */


.gallery {
	padding-top:95px;
	background-color:#f6f6f6;
	text-align:center;
}

.gallery__inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__item {
	position:relative;
	max-width:100%;
	width:100%;
	height:100%;
	cursor: pointer;
}


 .gallery__item a {
 	max-width:100%;
 	width:100%;
 }

.gallery__item img {
	width:100%;
	height:100%;
	margin-bottom:-10px;
}

.img__hover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#10c9c3;
	opacity: 0.851;
	opacity:0;
}

.img__hover:hover {
	opacity:0.851;
	transition: .5s ease;
}

.pe-7s-look {
	font-size:48px;
	color:#fff;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gallery__title {
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	color:#191919;
	font-size:38px;
	letter-spacing:0.1px;
	line-height:84px;


}

.gallery__text {
	font-size:18px;
	line-height:28px;
	max-width:570px;
	margin:auto;
	margin-bottom:88px;
}


/* Footer */
.footer {
	background-color: #141414;
	color:#fff;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding: 85px 0 ;
	font-size:15px;
	letter-spacing: 0.05px;
	line-height:24px;

}

.footer a, .footer p, footer div {
	color:#bcbcbc;
}

.footer a:hover {
	color:#fff;
}

.footer__col1 {
	max-width:400px;
}

.footer__col1-title {
	color:#fff;
	

	font-weight:500;
	font-size:18px;
	letter-spacing: 0.1px;
}

.footer__col1-text {
	margin-top:30px;
	max-width:270px;
}

.footer__col2 {
	max-width:272px;
	text-align: center;
}

.footer__col3 {
	max-width:272px;
	columns: 2;
}

.footer__col4 {
	max-width:170px;
	text-align:center;
}


/* About */

/* Banner */

.banner {
	background-image:url("../img/about_banner.png");
	background-size:cover;
	background-repeat: no-repeat;
	min-height:350px;
	padding:108px 0 110px;
	text-align:center;
	color:#fff;
}


.banner__title {
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	font-size:38px;
	letter-spacing:0.1px;
	line-height:48px;


}

.banner__text {
	font-size:18px;
	line-height:28px;
	max-width:570px;
	margin:auto;
	margin-top:20px;
	font-weight:300;
}


/* Statistics */

.statistics {
	background-color:#10c9c3;
	padding:95px 0;
	color:#fff;
}

.stat__items {
	display: flex;
	justify-content: space-between;
}

.stat__item {
	display: flex;
	align-items: center;
	max-width:270px;
	width:100%;
	padding-left:5px;
}

.stat__item-inner {
	padding-left:25px;
}

.statistics .pe-7s-portfolio,
.statistics .pe-7s-clock,
.statistics .pe-7s-star,
.statistics .pe-7s-like {
	font-size:48px;
}

.stat__no {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size:18px;
	letter-spacing:0.3px;
	line-height:30px;
}

.stat__title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size:12px;
	letter-spacing:1px;
	line-height:30px;
}

/* About me*/

.about {
	display: flex;
	align-items: center;
	background-color:#f5f5f5;
}

.about__inner {
	padding-left:80px;
	padding-right:72px;
}

.about__image {
	max-width:50%;
}

.about__image img {
	width:100%;
	margin-bottom:-7px;
}

.about__title {
	color:#191919;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size:30px;
	line-height:84px;

}

.about__inner img {
	margin-top:30px;
}

.about__text {
	max-width:570px;
}


/* Let's Talk */

.lets__talk {
	padding:95px 0 100px;
	text-align:center;
}

.lets__title {
	color:#191919;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size:30px;
}

.lets__text {
	max-width:500px;
	margin:auto;
	margin-top:30px;
}

.lets__btn {
	margin-top:33px;
}


/* Project */

.project {
	display: flex;
	align-items: center;
	background-color:#f6f6f6;
	justify-content: space-between;
}

.project__inner {
	max-width:585px;
}

.project__image {
	max-width:50%;
}

.project__image img {
	width:100%;
	margin-bottom:-6px;
}

.project__inner {
	padding-left:100px;
}

.project__title {
	font-size:38px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color:#191919;
}

.project__text {
	margin-top:25px;
}



div.project__additional {
	padding-top:47px;
}

span.project__additional {
	font-weight:bolder;
	color:#191919;
}

.project__controls-inner {
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding:42px 0;
}

.project__controls-left,
.project__controls-right {
	font-size:12px;
	letter-spacing:1px;
	color:#191919;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height:12px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.project__controls-left  {
	max-width:166px;
}

.project__controls-right {
		max-width:130px;
}

.projects__controls .pe-7s-angle-left,
.projects__controls .pe-7s-angle-right {
	font-size:24px;
	line-height:24px;
}


/* Contacts */

.contacts {
	background-color:#f5f5f5;
	padding:100px 0 ;
}

.contact__info-title {
	font-size:30px;
	color:#191919;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}


.contact__info-text {
	margin-top:30px;
}

.contacts__inner {
	display: flex;
	justify-content: space-between;
}

div.contact__info {
	max-width:470px;
	padding-right:90px;
}

ul.contact__info {
	margin-top:20px;
}

ul.contact__info li {
	line-height:36px;
}

.contacts__form {
	max-width:670px;
	width:100%;
}


.contacts__form form input,
.contacts__form form textarea
 {
	border:none;
	outline:none;
}


.contacts__form form input[name="title"],
.contacts__form form input[type="email"],
.contacts__form form input[name="name"] 
 {
 	min-height:48px;
 	padding:0 18px;
}



.contacts__form form input[name="title"],
.contacts__form form textarea {
	display: block;
	max-width:670px;
	width:100%;
	margin-top:30px;
	display: inline-block;
}

.contacts__form form input[type="email"],
.contacts__form form input[name="name"] {
	max-width:320px;
	width:100%;
	display: inline-block;
}


.contacts__form form input[type="email"] {
	float:left;
}

.contacts__form form input[name="name"] {
	float:right;
}

.contacts__form form textarea {
	min-height:170px;
	resize: none;
	padding:15px 18px;
}

.contacts__form form input[type="submit"] {
	margin-top:25px;
}


.contacts__map {
	background-color:#f5f5f5;
	padding-bottom:90px;
}

.contacts__map iframe {
	max-width:100%;
	width:100%;
	min-height:470px;
}

